body{
	margin: 0;
}
#page h1{
	color: #28d258;
	font-family: "Haettenschweiler";
	margin: 0 auto;
}
#page{
	width: 900px;
	margin: 0 auto;
}
.clearfix{
	clear: both;
}
.page-title{
	float: left;
	padding: 4px 17px;
}
.search-box{
	float: right;
	padding: 10px 17px
}
.search-box a,
.search-box a img{
	vertical-align: middle;
	text-decoration: none;
}
.search-box a img{
	width: 19px;
}
ul{
	margin: 0;
}
.main-menu a{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Frankling Gothic", 
	"Arial", "sans-serif";
}
.nav-menu{
	background-image: url(http://ecommerce.localhost/css/images/head_bg.png);
	background-size: 9px 44px;
}
.main-menu{
	width: 550px;
	margin: 0 auto;
}
.main-menu ul{
	list-style-type: none;
}
.main-menu ul li{
	display: inline-block;
	padding: 9px 9px 15px;
}
.main-menu ul li:after{
	content: "|";
	color: #fff;
	margin-left: 25px;
}
.main-menu ul li:nth-child(1):before{
	content: "|";
	color: #fff;
	margin-right: 25px;
}
.main-menu ul li a{
	color: #fff;
	padding: 11px;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
a{
	font-family: "Agency FB";
	font-weight: normal;
}
.header-content{
	background-color: #28d258;
}
.slider{
	height: 326px;
	background-color: #28d258;
}
.slider-product{
	float: left;
	width: 535px;
	padding: 15px 0;
}
.slider-product img{
	width: 525px;
}
.slider-product-description{
	float: left;
	width: 304px;
	color: #fff;
}
.slider-product-description a{
	color: #fff;
	float: right;
	text-decoration: none;
}
.brand-category{
	width: 730;
	margin: 0 auto;
	padding: 20px 0;
}
.brand {
    display: inline-block;
    margin-right: 100px;
}
.brand:last-child {
    margin: 0;
}
.brand-logo {
    display: inline-block;
    width: 100px;
}
.brand-info {
    display: inline-block;
    text-align: center;
    width: 65px;
}
.brand-info h2,
.brand-info a {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
}
.brand-info h2 {
    color: #8c8c8c;
}
.brand-info a {
    color: #fff;
    background-color: #28d258;
    padding: 5px;
    border-radius: 4px;
    text-decoratio: none;
}
.brand img {
    width: 97px;
}
.brand :nth-child(1) .brand-logo {
    margin-left: 85px;
}
.featured-products {
    padding-top: 30px;
}
.featured-products h2 {
	background-color: #28d258;
	padding: 10px 17px;
	color: #fff;
	font-family: "Haettenschweiler";
	font-size: 24px;
	letter-spacing: 1px;
	margin: 0;
}
.featured-products-group {
	width: 630px;
	margin: 0 auto 30px;
}
.featured-products-box {
	width: 189px;
	display: inline-block;
	border: 1px solid #dcdcdc;
	border-bottom: 4px solid #28d258;
	margin-right: 23px;
	margin-top: 30px;
}
.featured-products-box:nth-child(3),
.featured-products-box:nth-child(6) {
	margin: 0;
}
.product-box-preview {
	width: 180px;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
        height: 135px;
}
.product-box-preview img {
	width: 180px;
}
.product-box-info {
	text-align: center;
}
.product-box-info h3 {
	font-size: 25px;
	margin: 0;
}
.product-box-info h3,
.product-box-info p {
	color: #8c8c8c;
}
.product-box-info h3,
.product-box-info a,
.product-box-info p {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
}
.product-box-info p,
.product-box-info a {
	display: inline-block;
}
.product-box-info a {
	margin-left: 49px;
	color: #fff;
	background-color: #28d258;
	padding: 5px 10px;
	border-radius: 4px;
        text-decoration: none;
}
.featured-products :nth-child(3) .product-box-preview img {
    margin-top: 15px;
}
.featured-products :nth-child(5) .product-box-preview img {
    margin-top: 13px;
}
.featured-products :nth-child(6) .product-box-preview img {
    margin-top: 20px;
}





