body{
	margin: 0;
}
#page h1{
	color: #28d258;
	font-family: "Haettenschweiler";
	margin: 0 auto;
}
#page{
	width: 900px;
	margin: 0 auto;
}
.clearfix{
	clear: both;
}
.page-title{
	float: left;
	padding: 4px 17px;
}
.search-box{
	float: right;
	padding: 10px 17px
}
.search-box a,
.search-box a img{
	vertical-align: middle;
	text-decoration: none;
}
.search-box a img{
	width: 19px;
}
ul{
	margin: 0;
}
.main-menu a{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Frankling Gothic", 
	"Arial", "sans-serif";
}
.nav-menu{
	background-image: url(http://ecommerce.localhost/css/images/head_bg.png);
	background-size: 9px 44px;
}
.main-menu{
	width: 550px;
	margin: 0 auto;
}
.main-menu ul{
	list-style-type: none;
}
.main-menu ul li{
	display: inline-block;
	padding: 9px 9px 15px;
}
.main-menu ul li:after{
	content: "|";
	color: #fff;
	margin-left: 25px;
}
.main-menu ul li:nth-child(1):before{
	content: "|";
	color: #fff;
	margin-right: 25px;
}
.main-menu ul li a{
	color: #fff;
	padding: 11px;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
a{
	font-family: "Agency FB";
	font-weight: normal;
}
.header-content{
	background-color: #28d258;
}
.slider{
	height: 326px;
	background-color: #28d258;
}
.slider-product{
	float: left;
	width: 535px;
	padding: 15px 0;
}
.slider-product img{
	width: 525px;
}
.slider-product-description{
	float: left;
	width: 304px;
	color: #fff;
}
.slider-product-description a{
	color: #fff;
	float: right;
	text-decoration: none;
}
.brand-category{
	width: 730;
	margin: 0 auto;
	padding: 20px 0;
}
.brand {
    display: inline-block;
    margin-right: 100px;
}
.brand:last-child {
    margin: 0;
}
.brand-logo {
    display: inline-block;
    width: 100px;
}
.brand-info {
    display: inline-block;
    text-align: center;
    width: 65px;
}
.brand-info h2,
.brand-info a {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
}
.brand-info h2 {
    color: #8c8c8c;
}
.brand-info a {
    color: #fff;
    background-color: #28d258;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
}
.brand img {
    width: 97px;
}
.brand :nth-child(1) .brand-logo {
    margin-left: 85px;
}
.featured-products {
    padding-top: 30px;
}
.featured-products h2 {
	background-color: #28d258;
	padding: 10px 17px;
	color: #fff;
	font-family: "Haettenschweiler";
	font-size: 24px;
	letter-spacing: 1px;
	margin: 0;
}
.featured-products-group {
	width: 630px;
	margin: 0 auto 30px;
}
.featured-products-box {
	width: 189px;
	display: inline-block;
	border: 1px solid #dcdcdc;
	border-bottom: 4px solid #28d258;
	margin-right: 23px;
	margin-top: 30px;
}
.featured-products-box:nth-child(3),
.featured-products-box:nth-child(6) {
	margin: 0;
}
.product-box-preview {
	width: 180px;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
        height: 135px;
}
.product-box-preview img {
	width: 180px;
}
.product-box-info {
	text-align: center;
}
.product-box-info h3 {
	font-size: 25px;
	margin: 0;
}
.product-box-info h3,
.product-box-info p {
	color: #8c8c8c;
}
.product-box-info h3,
.product-box-info a,
.product-box-info p {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
}
.product-box-info p,
.product-box-info a {
	display: inline-block;
}
.product-box-info a {
	margin-left: 49px;
	color: #fff;
	background-color: #28d258;
	padding: 5px 10px;
	border-radius: 4px;
        text-decoration: none;
}
.featured-products :nth-child(3) .product-box-preview img {
    margin-top: 15px;
}
.featured-products :nth-child(5) .product-box-preview img {
    margin-top: 13px;
}
.featured-products :nth-child(6) .product-box-preview img {
    margin-top: 20px;
}
.footer-top {
	background-color: #28d258;
	padding: 23px;
}
.footer-top-container {
	width: 630px;
	margin: 0 auto;
}
.footer-column {
	display: inline-block;
	vertical-align: top;
	width: 165px;
	margin: 0 25px 0;
}
.footer-column:last-child {
	margin: 0 0 0 25px;
}
.footer-column h2 {
	margin: 0;
}
.footer-column h2 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic W01", Arial, sans-serif;
	font-size: 20px;
}
.footer-column h2 {
	margin: 0 0 20px;
}
.footer-column h2,
.footer-column ul li a {
	color: #fff;
}
.footer-column ul li a  {
	line-height: 22px;
	text-decoration: none;
}
.footer-bottom {
	background-color: #239945;
}
.footer-bottom p {
	text-align: center;
	margin: 0;
	padding: 10px;
	color: #fff;
	font-size: 14px;
}
.footer-column ul {
	list-style-type: none;
	padding: 0;
}
/*--------------------------------------------------------------
# Products Page Start
--------------------------------------------------------------*/
.brand2-category {
	background-color: #28d258;
}
.brand2-category ul {
	list-style-type: none;
	padding: 0;
	width: 432px;
	margin: 0 auto;
	padding: 15px 0px;
}
.brand2-category ul li {
	display: inline-block;
	margin-right: 41px;
}
.brand2-category ul li:nth-child(5) {
	margin:0;
}
.brand2-category ul li a {
	Vertical-align: middle;
}
.brand2-category ul li a img {
	width: 50px;
}
/*--------------------------------------------------------------
# Products Page End
--------------------------------------------------------------*/
.product-showcase {
	background-image: url(http://ecommerce.localhost/css/images/prod_bg.png);
	background-size: 903px;
	height: 460px;
}
.product-showcase-p1 {
	display: inline-block;
	vertical-align: top;
	width: 430px;
	padding: 0 30px;
}
.product-showcase-p1 img {
	width: 430px;
}
.product-showcase-p2 {
	display: inline-block;
	width: 375px;
	margin-right: 30px;
}
.product-showcase-p1 p {
	margin: 0;
}
.product-showcase-p2 p {
	font-size: 15px;
}
.product-showcase-p1 p, .product-showcase-p2 p, .product-showcase-p2 h2 {
	color: #fff;
}
.product-showcase-p2 p, .product-showcase-p2 h2 {
	text-align: right;
}
.featured2-products{
	border-top: 10px solid #28d258;
}
.featured2-products :nth-child(6) .product-box-preview img{
	margin-top: 20px; 
}
/*--------------------------------------------------------------
# Header Responsive Style
--------------------------------------------------------------*/
.main-menu {
	height: 12px;
}
.header-main ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}
.header-main li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}
.header-main li ul {
	display: none;
}
.header-main li ul li {
	display: block;
	float: none;
}
.header-main li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: white;
	padding: 3%;
	background: #28d258;
	text-align: center;
	display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media only screen and (max-width: 768px){
	#page {
    	width: 100%;
    	overflow: hidden;
	}
	.page-title img {
    	width: 40%;
	}
	.page-title {
	    width: 100%;
	    text-align: center;
	    padding: 3%;
	}
	.search-box {
	    float: none;
	    width: 93%;
	    text-align: center;
	    padding-bottom: 4%;
	}
	label.show-menu {
	    cursor: pointer;
	}
	.show-menu {
		display:block;
	}
	.main-menu ul li {
	    padding: 5px !important;
	    text-align: center !important;
	    background: #28d258;
	}
	.main-menu {
	    height: 19px;
	    width: 100%;
	}
	.header-main ul {
		position: static;
		display: none;
	}
	.header-main ul li, li a {
		width: 100%;
	}
	.main-menu ul li:after {
    	content: "";
    	margin-left: 0;
	}
	.main-menu ul li:nth-child(1):before {
	    content: "";
	    margin: 0;
	}
	
	.slider-product-description {
	    float: none;
	    width: 94%;
	    padding-left: 3%;
	    padding-bottom: 2%;
	}
	.slider-product img {
	    width: 100%;
	}
	.slider-product {
	    float: none;
	    width: 100%;
	}
	.slider-product-description a {
	    float: none;
	}
	.slider {
	    height: auto;
	}
/*--------------------------------------------------------------
# Header Responsive Style End
-------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content Responsive Style Start
-------------------------------------------------------------*/
	.brand :nth-child(1) .brand-logo {
	    margin-left: 0;
	}
	.brand {
	    display: block;
	    text-align: center;
	    margin-right: 0;
	    padding: 2%;
	}
	.featured-products-group {
	    width: 100%;
	    padding-left: 3%;
	}
	.featured-products-box {
	    width: 94%;
	    display: block;
	}
	.featured-products-box:nth-child(3), .featured-products-box:nth-child(6) {
	    margin-top: 8%;
	}
/*--------------------------------------------------------------
# Content Responsive Style End
-------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer Responsive Style Start
-------------------------------------------------------------*/
	.footer-column {
	    display: block;
	}
	.footer-top-container {
	    width: 100%;
	    margin: 0 auto;
	}
/*--------------------------------------------------------------
# Footer Responsive Style End
-------------------------------------------------------------*/	
}




















